<div class="flex flex-col md:flex-row md:justify-between items-center bg-gray-50 p-8 rounded-lg">
    <!-- Left Section (Text content) -->
    <div class="max-w-lg">
      <div class="text-sm text-red-400 py-2">Let's Shift Your Business</div>
      <!-- <h4 class="text-red-600 text-sm font-semibold uppercase mb-2">Let's Shift Your Business</h4> -->
      <h1 class="text-4xl font-bold text-gray-900 mb-4">Shift your business fast with Shade Pro.</h1>
      <p class="text-gray-600 mb-6 pb-3">
        With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website
        within few minutes.
      </p>
      <a href="#"
        class="inline-block bg-blue-600 text-white px-6 py-3 font-semibold text-lg rounded-lg hover:bg-blue-700 transition">
        Get started a project
      </a>
    </div>
  
    <!-- Right Section (Image) -->
    <div class="relative hidden md:block">
      <!-- <div class="absolute top-0 left-0 h-16 w-16 rounded-full bg-white border-4 border-dotted border-black"></div> -->
      <img class="rounded-full shadow-lg pt-4 md:pt-0" src="https://s3-alpha-sig.figma.com/img/ad3c/ac35/9a49841825f8984b6b92cb76f7e8b4dc?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=UxcyS5e--3-1AVd6ZhkyuWVRk5e4HhCXzsrlsg~qVL-xB0dabP-c5dPgWB9DgnjZ~1ea8ENXGCB0MiFozukr2L4sDSl5Tait5gUlJOKt7CavgRa6jAPxfeG0Td3-o3xTp79mNcOlkkuo-bivQxU92GimMTFnUxDG77nW~obGYAm8Mahc7vKUxTZw0HaDXlxv9zLqcInahVTmtAUCtMCDrGWSFVdZLlCvcVI0EIGmED36yvfgPcuO-kaiXlBTXDabSUOZmgKisUGFsZRyEGXgS8KAwtYCofhD8uhiJfsj48XyW1MfXpB7Ul5drsSXAcOlqK4NBDSbl8lVWgGEGEptHQ__" alt="Hero Image" width="300" height="300" />
    </div>
  </div>
  