<section class="bg-indigo-600 py-16 px-8">
  <div class="container mx-auto text-center text-white">
    <!-- Testimonial Quote -->
    <div class="text-sm text-slate-200 py-2">TESTIMONIAL</div>
    <blockquote class="text-2xl font-semibold">
      “Simply the best. Better than all the rest. I'd recommend this product to beginners and advanced users.”
    </blockquote>
    <!-- Testimonial Author -->
    <div class="mt-6">
      <img class="mx-auto w-16 h-16 rounded-full" src="https://s3-alpha-sig.figma.com/img/ad3c/ac35/9a49841825f8984b6b92cb76f7e8b4dc?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=UxcyS5e--3-1AVd6ZhkyuWVRk5e4HhCXzsrlsg~qVL-xB0dabP-c5dPgWB9DgnjZ~1ea8ENXGCB0MiFozukr2L4sDSl5Tait5gUlJOKt7CavgRa6jAPxfeG0Td3-o3xTp79mNcOlkkuo-bivQxU92GimMTFnUxDG77nW~obGYAm8Mahc7vKUxTZw0HaDXlxv9zLqcInahVTmtAUCtMCDrGWSFVdZLlCvcVI0EIGmED36yvfgPcuO-kaiXlBTXDabSUOZmgKisUGFsZRyEGXgS8KAwtYCofhD8uhiJfsj48XyW1MfXpB7Ul5drsSXAcOlqK4NBDSbl8lVWgGEGEptHQ__" alt="Ian Klein">
      <p class="mt-2 text-lg font-medium">Ian Klein</p>
      <p class="text-sm opacity-75">Digital Marketer</p>
    </div>
  </div>
</section>